# Ignore .yy files for language statistics
*.yy linguist-generated=true

# force LF for metadata files for merge simplicity
*.gml text eol=crlf
*.yy text eol=crlf
*.yyp text eol=crlf
*.json text eol=crlf